<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="demo">
    <div> Start Date: {{ startDate | date: 'MMM/dd/yyyy'  }}</div>
    <div> Date Changer : {{dateChanger | date: 'MMM-yyyy'}}</div>
    <div>{{title | uppercase}}</div>
    <hr>
    <div>{{price | number}}</div>
    <hr>
    <div>{{price | number: '3.3-5'}}</div>
    <hr>
    <div>{{price | currency: 'GBP'}}</div>
    <hr>
    <div>{{rate | percent}}</div>
    <hr>
    <div>{{collection | slice:0:3}}</div>
    <hr>
    <div *ngFor="let pair of course | keyvalue"  >
  <hr>
     <b> Key value pair: </b>   {{ pair.key + ': ' + pair.value}}
    </div>
</div>

<div class="courses" #container>
    <app-course-card #cardRef1
        (courseSelected)="onCourseSelected($event)" 
        [course]="courses[0]"></app-course-card>

    <app-course-card #cardRef2
        (courseSelected)="onCourseSelected($event)" 
        [course]="courses[1]"></app-course-card>
   
</div>